<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Korisnik</title>
</head>
<body>
    <h1>Korisnik</h1>
    <ul>
        <li>ID: {{ korisnik.id }}</li>
        <li>Ime: {{ korisnik.ime }}</li>
        <li>Spol: {{ korisnik.spol }}</li>
        <li>Dob: {{ korisnik.dob }}</li>
    </ul>
    <button onclick="window.location.href='/korisnici'">Natrag na popis</button>
    <button onclick="window.location.href='/korisnici/{{ korisnik.id }}'">Uredi korisnika</button>
     <form action="/korisnici/{{ korisnik.id }}/delete" method="POST" style="display: inline">
        <input type="hidden" name="id" value="{{ korisnik.id }}">
        <button type="submit">Obriši</button>
    </form>
</body>
</html>