{% extends 'base.html.twig' %}

{% block title %}User registration
{% endblock %}

{% block body %}
	<div class="container">
		<form method="post">
			{{ form_row(form.name) }}
			{{ form_row(form.password) }}
			{{ form_row(form.contractStartDate) }}
			{{ form_row(form.contractEndDate) }}
			{{ form_row(form.type) }}
			{{ form_row(form.verified) }}

			<button type="submit" class="btn btn-primary">Register</button>
		</form>
	</div>
{% endblock %}
