{{ form_start(form) }}
    {{ form_widget(form) }}
    <button style="margin-top: 10px" class="btn">{{ button_label|default('Save') }}</button>
     <a class="btn btn-sm btn-primary" style="display: inline-block; padding: 2px; display: inline-block" href="{{ path('app_user_index') }}">back to list</a>
{{ form_end(form) }}
