{{ form_start(form) }}
<div style="margin-left: 10px">
	{{ form_widget(form) }}
</div>
<button style="margin-left: 10px" class="btn">{{ button_label|default('Save') }}</button>
<a style="margin-top: 10px; margin-left: 10px; font-size: 13px" class="btn btn-primary" href=" {{ path('app_user_index') }} ">Back to list</th></tr></tbody></a>{{ form_end(form) }}
