{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
       {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>
           {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>
            {% set roleNames = [] %}
            {% if user.roles %} {% decodedRoles = json_decode(html_entity_decode(user.roles), true) %}
                {% set decodedRoles = json_decode(html_entity_decode(user.roles), true) %}
                {% for roleTag in decodedRoles %}
                    {% for role in roles %}
                        {% if role.roleTag == roleTag %}
                            {% set roleNames = roleNames|merge([role.roleName]) %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                No roles assigned
            {% endif %}
            {{ roleNames|join(', ') }}
        </td>
        <td>{{ user.password }}</td>
        <td>
            <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
            <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="5">No records found</td>
    </tr>
{% endfor %}

        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
