{{ form_start(form) }}
<div style="margin-left: 10px">
	{{ form_widget(form) }}
	{% if form_errors(form) %}
		<div class="form-error-message">
			<p>{{ form_errors(form) }}</p>
		</div>
	{% endif %}
</div>
<button style="margin-left: 10px; font-size: 14px" class="btn">{{ button_label|default('Save') }}</button>
<a style="font-size: 12px" class="btn btn-primary" href=" {{ path('app_team_index') }} ">Back to list</a>
{{ form_end(form) }}
