{% if is_granted('ROLE_ADMIN') %}
	<a style="float: inline-block" href="{{ path('app_team_new') }}" class="btn">Create new team</a>
{% endif %}

<style>
	table tr {
		text-align: center; /* or 'left', 'right', 'justify' based on your preference */
	}
</style>

{% for team in teams %}
	<table class="table table-bordered" style="width: auto%">
		<thead>
			<tr>
				<th style="width: 20%">Team name:
					{{ team.teamName }}</th>
				<th style="width: 20%">Team leader:
					{% if team.teamLeader %}
						{{ team.teamLeader.name }}
					{% else %}
						Not set
					{% endif %}
				</th>
				<th style="width: 20%">Project leader:
					{% if team.projectLeader %}
						{{ team.projectLeader.name }}
					{% else %}
						Not set
					{% endif %}
				</th>
				<th class="EditBtn">
					<a style="float: inline-end; margin: 5px" href="{{ path('app_team_edit', {'id': team.id}) }}" class="btn btn-sm btn-primary">Edit team</a>
				</th>
			</tr>
		</thead>
	</th>
</tr></thead></table><table class="table table-bordered table-hover table-striped" style="width: 78%">{% if team.users %}
<thead class="thead-dark" style="width: 78%">
	<tr>
		<td style="width: 15%">Member</td>
		<td>Job</td>
		<td>Role</td>
		<td style="width: 25%">Days of vacation available</td>
	</tr>
</thead>
<tbody>
	{% for user in team.users %}
		<tr>
			<td>{{ user.name }}</td>
			<td>{{ user.job }}</td>
			<td>{{ user.role.roleName }}</td>
			<td>{{ user.vacationDays }}</td>
			<td class="EditBtn">
				<a style="float: inline-end; margin: 5px" href="{{ path('app_user_edit', {'id': user.id, 'origin': 'teams'}) }}" class="btn btn-sm btn-primary">Edit user</a>
			</td>
		</tr>
	{% endfor %}
{% endif %}</tbody></tbody></table>{% endfor %}
