<a style="float: inline-block; margin-left: 20px; margin-bottom: 10px" href="{{ path('app_vacation_request_new') }}" class="btn">New request</a>
<table class="table">
	<thead>
		<tr>
			<th>Employee</th>
			<th>Job</th>
			<th>Number of currently available days</th>
			<th>Start date</th>
			<th>End date</th>
			<th>Note</th>
			{% if is_granted('ROLE_TEAM_LEADER') %}
				<th>Team leader decision</th>
			{% endif %}
			{% if is_granted('ROLE_PROJECT_LEADER') %}
				<th>Project leader decision</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for vacation_request in vacation_requests %}
			<tr>
				<td>{{ vacation_request.user.name }}</td>
				<td>{{ vacation_request.user.job }}</td>
				<td>{{ vacation_request.user.vacationDays }}</td>
				<td>{{ vacation_request.startDate ? vacation_request.startDate|date('d.m.Y') : '' }}</td>
				<td>{{ vacation_request.endDate ? vacation_request.endDate|date('d.m.Y') : '' }}</td>
				<td>{{ vacation_request.note }}</td>
				{% if is_granted('ROLE_TEAM_LEADER') %}
					{% if vacation_request.teamLeadAction == null or vacation_request.projectLeadAction == null %}
						<td>
							<form action="{{ path('app_vacation_approve', {'id': vacation_request.id}) }}" method="post" style="display: inline;">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vacation_request.id) }}">
								<button type="submit" class="btn btn-success">Approve</button>
							</form>
							<form action="{{ path('app_vacation_decline', {'id': vacation_request.id}) }}" method="post" style="display: inline;">
								<button type="submit" class="btn btn-danger">Decline</button>
							</form>
						</td>
					{% elseif vacation_request.teamLeadAction == 0 or vacation_request.projectLeadAction == 0 %}
						<td>Declined</td>
					{% elseif vacation_request.teamLeadAction == 1 and vacation_request.projectLeadAction == 1 %}
						<td>Approved</td>
					{% endif %}


					{% if is_granted('EDIT', vacation_request) %}
						<td>
							<a style="float: inline-end; margin: 5px" href="{{ path('app_vacation_request_edit', {'id': vacation_request.id}) }}" class=" btn btn-sm btn-primary">Edit</a>
						</td>
					{% endif %}
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
