<a style="float: inline-block; margin-left: 20px; margin-bottom: 10px" href="{{ path('app_vacation_request_new') }}" class="btn">New request</a>
<table class="table">
	<thead>
		<tr>
			<th>Employee</th>
			<th>Job</th>
			<th>Number of currently available days</th>
			<th>Start date</th>
			<th>End date</th>
			<th>Note</th>
			{% if is_granted('ROLE_TEAM_LEADER') %}
				<th width="10%">Team leader decision</th>
			{% endif %}
			{% if is_granted('ROLE_PROJECT_LEADER') %}
				<th width="15%">Project leader decision</th>
			{% endif %}
			<th>Status</th>
		</tr>
	</thead>
</tr></thead></tr></thead><tbody>{% for vacation_request in vacation_requests %}<tr>
<td>{{ vacation_request.user.name }}</td>
<td>{{ vacation_request.user.job }}</td>
<td>{{ vacation_request.user.vacationDays }}</td>
<td>{{ vacation_request.startDate ? vacation_request.startDate|date('d.m.Y') : '' }}</td>
<td>{{ vacation_request.endDate ? vacation_request.endDate|date('d.m.Y') : '' }}</td>
<td>{{ vacation_request.note }}</td>
{% if is_granted('ROLE_TEAM_LEADER') %}
	<td>{{ vacation_request.teamLeadAction ? 'Yes' : 'No' }}</td>
{% endif %}
{% if is_granted('ROLE_PROJECT_LEADER') %}
	<td>{{ vacation_request.projectLeadAction ? 'Yes' : 'No' }}</td>
{% endif %}
<td>{{ vacation_request.status }}</td>

{% if is_granted('EDIT', vacation_request) %}
	<td>
		<a style="float: inline-end; margin: 5px" href="{{ path('app_vacation_request_edit', {'id': vacation_request.id}) }}" class=" btn btn-sm btn-primary">edit</a>
	</td>
{% endif %}</tr>{% else %}<tr>
<td colspan="8">no records found</td></tr>{% endfor %}</tbody></tbody></tr></tbody></table>
