<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>User Data</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				font-size: 12px;
			}
			table {
				width: 100%;
				border-collapse: collapse;
			}
			th,
			td {
				border: 1px solid #dddddd;
				padding: 8px;
				text-align: left;
			}
			th {
				background-color: #f2f2f2;
			}
		</style>
	</head>
	<body>
		<h1>Users</h1>
		<table>
			<thead>
				<tr>
					{% for key, value in users[0] %}
						<th>{{ key }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.name }}</td>
						<td>{{ user.contractStartDate|date('Y-m-d') }}</td>
						<td>{{ user.contractEndDate|date('Y-m-d') }}</td>
						<td>{{ user.type }}</td>
						<td>{{ user.verified ? 'Yes' : 'No' }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
